{% extends 'subsidy/tokyo23/base.html' %}
{% load static %}
{% load humanize %}

{% block siteInformation %}
	<title>東京都23区の支援制度を探す | AID Tree</title>
	<meta name="description" content="【あなたの街の、あなたに合った助成金・支援を探そう】補助金や助成金など支援制度一覧を確認できます。">
	<link rel="canonical" href="https://https://aid-tree.com/tokyo23/index">
{% endblock siteInformation %}

{% block stylesheet %}
	<link rel="stylesheet" type='text/css' href="{% static 'subsidy/css/tokyo23_index.css' %}">
{% endblock stylesheet %}

{% block body %}
{% include 'subsidy/base_module/header.html' %}

<div class="container">
	{% if query %}
	<div class="research-result">
		<p class="research-result-text">「{{query}}」の検索結果：{{count}}件</p>
	</div>
	{% else %}
	<div class="research-result">
		<p class="research-result-text">検索結果：{{count}}件</p>
	</div>
	{% endif %}



<!-- 前へ の部分 -->
{% if page_obj.has_previous %}
<a href="?page={{ page_obj.previous_page_number }}">前へ</a>
{% endif %}

<!-- 1/3 の部分 -->
{{ page_obj.number }}/{{ page_obj.paginator.num_pages }}

<!-- 次へ の部分 -->
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">次へ</a>
{% endif %}
</div>
{% endblock body %}