{% extends 'subsidy/tokyo23/base.html' %}
{% load static %}
{% load humanize %}

{% block siteInformation %}
	<title>東京都23区の支援制度を探す | AID Tree</title>
	<meta name="description" content="説明文">
	<link rel="canonical" href="https://https://aid-tree.com/tokyo23-index">
{% endblock siteInformation %}

{% block stylesheet %}
	<link rel="stylesheet" type='text/css' href="{% static 'subsidy/css/tokyo23_top.css' %}">
	<!-- UIkit CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
	<!-- UIkit JS -->
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
{% endblock stylesheet %}

{% block body %}
	{% include 'subsidy/base_module/header.html' %}
	{% include 'subsidy/base_module/for_object_list.html' %}
	<br>{% include 'subsidy/base_module/pagenation.html' %}
</div>
{% endblock body %}