<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Aid Tree</title>
	<meta name="description" content="説明文">
	<link rel="canonical" href="正規化URL">
<!-- SNS -->
	<meta property="og:url" content="ページのURL">
	<meta property="og:title" content="ページのタイトル">
	<meta property="og:type" content="ページのタイプ">
	<meta property="og:description" content="記事の抜粋">
	<meta property="og:image" content="画像のURL">
	<meta name="twitter:card" content="カード種類">
	<meta name="twitter:site" content="@Twitterユーザー名">
	<meta property="og:site_name" content="サイト名">
	<meta property="og:locale" content="ja_JP">
	<meta property="fb:app_id" content="appIDを入力">
<!-- favicon -->
<!-- icon -->
{% include 'subsidy/base/parts_favicon_icon.html' %}
<!-- static -->
	<link rel="stylesheet" type='text/css' href="{% static 'subsidy/css/index.css' %}">

<!-- Global site tag (gtag.js) - Google Analytics -->
{% include 'subsidy/base/ga_tag.html' %}
</head>

<body>
	<p>フリーワードで検索する</p>
	<form method="GET" action="{% url 'subsidy:tokyo23_index' %}">
		<input type="text" name="keyword">
		<button type="submit">検索</button>
	</form>

	<p><a href="{% url 'subsidy:tokyo23_housing' %}">「住まい」</a></p>
	<p><a href="{% url 'subsidy:tokyo23_index' %}">23区制度一覧</a></p>
	---------------
	<p><a href="{% url 'subsidy:operator_information' %}">運営者情報</a></p>
	<p><a href="{% url 'subsidy:terms_of_service' %}">利用規約</a></p>
	<p><a href="{% url 'subsidy:inquiry_create' %}">問い合わせ</a></p>
	<p><a target="_blank" href="{% url 'subsidy:user_alert' %}">問題を報告する</a></p>
</body>
</html>