{% extends 'subsidy/tokyo23/base.html' %}
{% load static %}
{% load humanize %}


{% block siteInformation %}
	<title>街の助成金・補助金・支援制度を探す | AID Tree</title>
	<meta name="description" content="【あなたの街の、あなたに合った助成金・支援を探そう】個人向けの補助金や助成金といった支援制度についてまとめています。「子育て」「住宅」「冠婚葬祭」といったテーマ毎に利用可能な制度を探すことができます。">
	<link rel="canonical" href="https://aid-tree.com">
{% endblock siteInformation %}

{% block stylesheet %}
	<link rel="stylesheet" type='text/css' href="{% static 'subsidy/css/tokyo23_top.css' %}">
{% endblock stylesheet %}

{% block body %}
<div class="header">
	<div class="header-nav">
		<a class="header-navi-link" href="{% url 'subsidy:about_service' %}">AID Treeとは</a>
		<a class="header-navi-link" href="{% url 'subsidy:tokyo23_index' %}">支援金を探す</a>
		<a class="header-navi-link" href="{% url 'subsidy:inquiry_create' %}">問い合わせ</a>
	</div>
</div>

<div class="top-logo">
	<img class="logoimg" src="{% static 'subsidy/img/logo.png'%}">
</div>

<div class="header-message">
	<p>AID Treeは、</p><p>あなたが今使える支援制度を</p><p>見つけることができるサービスです</p>
</div>


<div class="combination-search-block">
	<p class="combination-title">あなたに合った検索をしてみましょう</p>
	<form method="GET" action="{% url 'subsidy:category_select' %}">
		<div class="combination-search-">
			<label class="select-city">
				<select name="city">
					<option value="">地域</option>
					<option value="千代田区">千代田区</option>
					<option value="中央区">中央区</option>
					<option value="港区">港区</option>
					<option value="新宿区">新宿区</option>
					<option value="文京区">文京区</option>
					<option value="台東区">対等区</option>
					<option value="墨田区">墨田区</option>
					<option value="江東区">江東区</option>
					<option value="品川区">品川区</option>
					<option value="目黒区">目黒区</option>
					<option value="太田区">太田区</option>
					<option value="世田谷区">世田谷区</option>
					<option value="渋谷区">渋谷区</option>
					<option value="中野区">中野区</option>
					<option value="杉並区">杉並区</option>
					<option value="豊島区">豊島区</option>
					<option value="北区">北区</option>
					<option value="荒川区">荒川区</option>
					<option value="板橋区">板橋区</option>
					<option value="練馬区">練馬区</option>
					<option value="足立区">足立区</option>
					<option value="葛飾区">葛飾区</option>
					<option value="江戸川区">江戸川区</option>
				</select>
			</label>
			<div class="x">×</div>
			<label class="select-theme">
				<select name="theme">
					<option value="">テーマ</option>
					<option value="出産・子供">出産・子供</option>
					<option value="冠婚葬祭">冠婚葬祭</option>
					<option value="住まい">住まい</option>
					<option value="その他">その他</option>
				</select>
			</label>
			<input class="combination-button" type="submit" value="検索">
	</form>
	</div>
</div>

<div class="about">
	<h3 class="about-title">AID Treeとは</h3>
	<p>「地域によって受けられる制度を把握したい」</p>
	<p>「でもどうやって調べればいいか分からない」など</p>
	<p>皆さんのギモンから生まれたサービスです。</p>
</div>

<div class="questionnaire">

</div>

<div class="service-message">
	<p>個人向けの支援制度について一覧化することで</p>
	<p>分かりやすくまとめています。</p>
	<p>このAID Treeを通して、みなさんの未来へ一歩</p>
	<p>背中を押すことが出来ますように。</p>
</div>

<div class="category-search">
	<p class="area-search-title">エリアを選択</p>
			<div class="area-search">
				<div class="area-link-box"><a class="area-link" href="https://aid-tree.com/tokyo23/category/?city=千代田区&theme=">千代田区</a></div>
				<div class="area-link-box"><a class="area-link" href="https://aid-tree.com/tokyo23/category/?city=中央区&theme=">中央区</a></div>
				<div class="area-link-box"><a class="area-link" href="https://aid-tree.com/tokyo23/category/?city=港区&theme=">港区</a>	</div>
				<div class="area-link-box"><a class="area-link" href="https://aid-tree.com/tokyo23/category/?city=新宿区&theme=">新宿区</a></div>
				<div class="area-link-box"><a class="area-link" href="https://aid-tree.com/tokyo23/category/?city=文京区&theme=">文京区</a></div>
				<div class="area-link-box"><a class="area-link" href="https://aid-tree.com/tokyo23/category/?city=台東区&theme=">台東区</a></div>
			</div>
			<div class="area-search">
				<div class="area-link-box"><a class="area-link" href="https://aid-tree.com/tokyo23/category/?city=墨田区&theme=">墨田区</a></div>
				<div class="area-link-box"><a class="area-link" href="https://aid-tree.com/tokyo23/category/?city=江東区&theme=">江東区</a></div>
				<div class="area-link-box"><a class="area-link" href="https://aid-tree.com/tokyo23/category/?city=品川区&theme=">品川区</a></div>
				<div class="area-link-box"><a class="area-link" href="https://aid-tree.com/tokyo23/category/?city=目黒区&theme=">目黒区</a></div>
				<div class="area-link-box"><a class="area-link" href="https://aid-tree.com/tokyo23/category/?city=太田区&theme=">太田区</a></div>
				<div class="area-link-box"><a class="area-link" href="https://aid-tree.com/tokyo23/category/?city=世田谷区&theme=">世田谷区</a></div>
			</div>
			<div class="area-search">
				<div class="area-link-box"><a class="area-link" href="https://aid-tree.com/tokyo23/category/?city=渋谷区&theme=">渋谷区</a>	</div>
				<div class="area-link-box"><a class="area-link" href="https://aid-tree.com/tokyo23/category/?city=中野区&theme=">中野区</a></div>
				<div class="area-link-box"><a class="area-link" href="https://aid-tree.com/tokyo23/category/?city=杉並区&theme=">杉並区</a></div>
				<div class="area-link-box"><a class="area-link" href="https://aid-tree.com/tokyo23/category/?city=豊島区&theme=">豊島区</a>	</div>
				<div class="area-link-box"><a class="area-link" href="https://aid-tree.com/tokyo23/category/?city=北区&theme=">北区</a></div>
				<div class="area-link-box"><a class="area-link" href="https://aid-tree.com/tokyo23/category/?city=荒川区&theme=">荒川区</a></div>
			</div>
			<div class="area-search-none">
				<div class="area-link-box"><a class="area-link" href="https://aid-tree.com/tokyo23/category/?city=板橋区&theme=">板橋区</a></div>
				<div class="area-link-box"><a class="area-link" href="https://aid-tree.com/tokyo23/category/?city=練馬区&theme=">練馬区</a></div>
				<div class="area-link-box"><a class="area-link" href="https://aid-tree.com/tokyo23/category/?city=足立区&theme=">足立区</a></div>
				<div class="area-link-box"><a class="area-link" href="https://aid-tree.com/tokyo23/category/?city=葛飾区&theme=">葛飾区</a></div>
				<div class="area-link-box"><a class="area-link" href="https://aid-tree.com/tokyo23/category/?city江戸川北区&theme=">江戸川区</a></div>
			</div>



	<p class="theme-search-title">テーマを選択</p>
	<div class="theme-search">
		<div class="theme-box"><a href="{% url 'subsidy:childbirth_childcare' %}" class="theme-link">出産・子供   <img class="themeimg" src="{% static 'subsidy/img/baby.png' %}" style="width: 30px; height: 49x;"></a></div>
		<div class="theme-box"><a href="{% url 'subsidy:ceremonial_occasion' %}" class="theme-link">冠婚葬祭　  <img class="themeimg" src="{% static 'subsidy/img/bird.png' %}" style="width: 42px; height: 42px;"></a></div>
	</div>
	<div class="theme-search">
		<div class="theme-box"><a href="{% url 'subsidy:housing' %}" class="theme-link">住まい　<img class="themeimg" src="{% static 'subsidy/img/house.png' %}" style="width: 60px; height: 42px;"></a></div>
		<div class="theme-box"><a href="{% url 'subsidy:others' %}" class="theme-link">その他  　  <img class="themeimg" src="{% static 'subsidy/img/tree.png' %}" style="width: 60px; height: 42px;"></a></div>
	</div>

	<div class="freeword-search">
		<p class="freeword-search-title">フリーワードで検索する</p>
		<form method="GET" action="{% url 'subsidy:tokyo23_index' %}">
			<input class="input-text" type="text" name="keyword" placeholder="キーワードを入力">
			<button class="freeword-input" type="submit">検索</button>
		</form>
	</div>
</div>

<div class="about">
	<h3 class="about-title">AID Tree</h3>
	<p><a class="internal-link" href="{% url 'subsidy:tokyo23_top' %}">TOP</a></p>
	<p><a class="internal-link" href="{% url 'subsidy:terms_of_service' %}">利用規約(免責事項)</a></p>
	<p><a class="internal-link" href="{% url 'subsidy:inquiry_create' %}">お問合せ</a></p>
</div>

<div class="sns-field">
	<p><a class="sns-link" href=""><img src="{% static 'subsidy/img/twitter.png' %}" style="width: 30px; height: 30px;">　Twitter</a></p>
	<p><a class="sns-link" href=""><img src="{% static 'subsidy/img/instagram.png' %}" style="width: 30px; height: 30px;">　Instagram</a></p>
	<p><a class="sns-link" href=""><img src="{% static 'subsidy/img/facebook.png' %}" style="width: 30px; height: 30px;">　Facebook</a></p>
</div>


<div class="footer">
	<div class="footer-nav">
		<p><a class="footer-nav-link" href="{% url 'subsidy:webmaster' %}">運営者情報</a></p>
		<p><a class="footer-nav-link" href="{% url 'subsidy:terms_of_service' %}">利用規約</a></p>
		<p><a class="footer-nav-link" target="_blank" href="{% url 'subsidy:user_alert' %}">問題を報告する</a></p>
	</div>
</div>
{% endblock body %}