<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{ object.name }} | Aid Tree</title>
	<meta name="description" content="説明文">
	<link rel="canonical" href="正規化URL">
<!-- SNS -->
	<meta property="og:url" content="ページのURL">
	<meta property="og:title" content="ページのタイトル">
	<meta property="og:type" content="ページのタイプ">
	<meta property="og:description" content="記事の抜粋">
	<meta property="og:image" content="画像のURL">
	<meta name="twitter:card" content="カード種類">
	<meta name="twitter:site" content="@Twitterユーザー名">
	<meta property="og:site_name" content="サイト名">
	<meta property="og:locale" content="ja_JP">
	<meta property="fb:app_id" content="appIDを入力">
<!-- favicon -->
<!-- icon -->
	{% include 'subsidy/base/parts_favicon_icon.html' %}
<!-- static -->
	{% include 'subsidy/base/basecss.html' %}
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
<!-- Global site tag (gtag.js) - Google Analytics -->
	{% include 'subsidy/base/ga_tag.html' %}
</head>

<body>
	<div class="block-content">
		<p>制度名：{{ object.name }}</p>
		<p>適用地域：{{ object.applicable_area }}</p>
		<p>適用対象：{{ object.target }}</p>
		{% if object.start_at is None and object.end_at is None %}
		{% else %}
		<p>公募期間：{{ object.start_at|date:"Y年m月j日" }}～{{ object.end_at|date:"Y年m月j日" }}</p>
		{% endif %}
		<p>支給上限金額：{{ object.maximum_support_amount|intcomma }}円</p>
		<p>支給上限金額補足：{{ object.support_amount_note }}</p>
		<p>対象要件：{{ object.condition }}</p>
		<p>制度内容：{{ object.description }}</p>
		<p>参照元：{{ object.referrer }}</p>
		<p><a href="{{ object.official_page }}">{{ object.official_page }}</a></p>
		<p><a target="_blank" href="{% url 'subsidy:user_alert' %}">問題を報告</a></p>
	</div>
</body>
</html>