{% extends 'subsidy/tokyo23/base.html' %}
{% load static %}
{% load humanize %}


{% block siteInformation %}
	<title>{{ object.name }}／{{ object.city }} | AID Tree</title>
	<meta name="description" content="説明文">
{% endblock siteInformation %}

{% block stylesheet %}
	<link rel="stylesheet" type='text/css' href="{% static 'subsidy/css/detail.css' %}">
{% endblock stylesheet %}

{% block body %}
{% include 'subsidy/base_module/header.html' %}
<div class="navigarte">
	<a href="{% url 'subsidy:tokyo23_top'%}">TOP ></a>
	<a href="{% url 'subsidy:tokyo23_index'%}">検索結果 ></a>
	<a href="">{{ object.name }}</a>
</div>

<div class="detail-content">
	<p class="object_title">「{{ object.name }}」</p>
			<p class="columns">適用地域</p>
			<p>{{ object.prefecture }}　{{ object.city}}</p>
			<p class="columns">申請期間</p>
			<p>{{ object.start_at|date:"Y年m月j日" }}　～　{{ object.end_at|date:"Y年m月j日" }}</p>
			<p class="columns">制度内容</p>
			<p>{{ object.description| linebreaksbr }}</p>
			<p class="columns">最大支給額</p>
			<p>{{ object.maximum_support_amount|intcomma }}円</p>
			<p class="columns">支援額補足</p>
			<p>{{ object.support_amount_note| linebreaksbr }}</p>
			<p class="columns">支援条件</p>
			<p>{{ object.condition| linebreaksbr }}</p>
			<p class="columns">引用元</p>
			<p>{{ object.referrer }}　<br><br><a href="{{object.official_page}}">公式ページ(外部リンク)</a></p>
			<p class="columns">最終更新日</p>
			<p>{{ object.updated_at|date:"Y年m月j日" }}</p>		
</div>
{% endblock body %}