<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>トップページ</title>
	<meta name="description" content="説明文">
	<link rel="canonical" href="正規化URL">
<!-- SNS -->
	<meta property="og:url" content="ページのURL">
	<meta property="og:title" content="ページのタイトル">
	<meta property="og:type" content="ページのタイプ">
	<meta property="og:description" content="記事の抜粋">
	<meta property="og:image" content="画像のURL">
	<meta name="twitter:card" content="カード種類">
	<meta name="twitter:site" content="@Twitterユーザー名">
	<meta property="og:site_name" content="サイト名">
	<meta property="og:locale" content="ja_JP">
	<meta property="fb:app_id" content="appIDを入力">
<!-- favicon -->
<!-- icon -->
	{% include 'subsidy/base/parts_favicon_icon.html' %}
<!-- static -->
	{% include 'subsidy/base/basecss.html' %}
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
<!-- Global site tag (gtag.js) - Google Analytics -->
	{% include 'subsidy/base/ga_tag.html' %}
</head>

<body>
	<div class="block-content">
		<form action="" method="POST">{% csrf_token %}
			{{form.as_p}}
		<input type="submit" value="送信">
		</form>
		<h3>個人情報の取り扱いについて</h3>
		<p>●お問い合わせフォームご利用頂いた方の個人情報（以下、「個人情報」といいます）は、お問合せに対してのご返答を差し上げることを利用目的とし、 目的以外の用途では使用致しません。</p>
		<p>●個人情報を、ご利用になる方の同意無しに第三者に開示・提供することはありません。（法令などにより求められた場合を除く）</p>
		<p>●お問合せの返答にはお時間を頂く場合、またお問合せ内容によっては返信できない場合がございます。予めご了承ください。</p>
	</div>
</body>
</html>