{% extends 'subsidy/tokyo23/base.html' %}
{% load static %}
{% load humanize %}


{% block siteInformation %}
	<title>問題を報告する | AID Tree</title>
	<meta name="description" content="説明文">
	<link rel="canonical" href="https://aid-tree.com/user-alert-done/">
	<meta name=”robots” content=”noindex” />
{% endblock siteInformation %}

{% block stylesheet %}
	<link rel="stylesheet" type='text/css' href="{% static 'subsidy/css/user_alert.css' %}">
{% endblock stylesheet %}

{% block body %}
{% include 'subsidy/base_module/header.html' %}
<div class="inquiry_done">
	<p>送信完了しました。</p>
	<p>ご投稿頂きありがとうございました。</p>
</div>

<div class="link-set">
	<div class="done_button">
		<a href="{% url 'subsidy:tokyo23_top' %}">TOPへ戻る　｜　</a><a href="{% url 'subsidy:tokyo23_index' %}">支援制度を探す</a>
</div>

{% endblock body %}