
/* font */
@font-face {
  font-family: 'iroha';
    src: url('../font/irohamaru-Medium.ttf') format('truetype');
    }
/* base css */
/* smp */
@media screen and (max-width: 420px){
body{
    background-image: url("../img/smp_backgroundimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position : center top;
    color: white;
    font-family: 'iroha';
}

a{
    text-decoration: none;
    color: grey;
}

.block-content{
    margin: auto;
    width: cover;
    overflow:hidden;
}

/*header */
.header .header-nav .header-navi-link{
    display: none;
}

.copyright{
    font-size: 12px;
    text-align: center;
}
}

/* tablet */
@media screen and (max-width: 750px){
body{
	background-image: url("../img/smp_backgroundimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position : center top;
    color: white;
    font-family: 'iroha';
}

a{
    text-decoration: none;
    color: grey;
}

.block-content{
    margin: auto;
    width: cover;
    overflow:hidden;
}

/*header */

.header .header-nav .header-navi-link{
    display: none;
}

.copyright{
    font-size: 12px;
    text-align: center;
}
}


/* pc */
@media screen and (min-width: 751px){

body{
	background-image: url("../img/backgroundimg.jpg");

    /*  background-repeat: no-repeat; */
    background-position : center top;
    color: white;
    font-family: 'iroha';
}

a{
    text-decoration: none;
    color: grey;
}

.block-content{
    margin: auto;
    width:1400px;
    overflow:hidden;
}

/*header */
.header{
    margin-top:20px;
    height: 60px;
 }

.header-nav{
    text-align: center;
    float: right;
}

.header-navi-link{
    color: #606560;
    margin-right: 30px;
    padding-left: 30px;
    border-left: 1px solid #606560;
}

.copyright{
    font-size: 12px;
    text-align: center;
}
}
