/* common module */
body{
  color: white;
  margin: 0 auto;
}

.wf-notosansjapanese{
   font-family: "Noto Sans JP";
  }

.block-content{
  width: 1440px;
  margin: 0 auto;
  background-image: url("../img/backgroundimg.jpg");
  background-repeat: no-repeat;
}

a{
  text-decoration: none;
  color: white;
}
