/* 
smp: ~600px
tab: ~850px
*/

/* font */
@font-face {
  font-family: 'iroha';
    src: url('../font/irohamaru-Medium.ttf') format('truetype');
    }

/* base css */
/* pc */
body{
	background-image: url("../img/backgroundimg.jpg");

    /*  background-repeat: no-repeat; */
    background-position : center top;
    color: white;
    font-family: 'iroha';
}

a{
    text-decoration: none;
    color: grey;
}

.block-content{
    margin: auto;
    width:cover;
    overflow:hidden;
}

/*header */
.header{
<<<<<<< HEAD
    margin-top:20px;
    height: 60px;
 }

.header-nav{
    text-align: center;
    float: right;
=======
    margin: 20px 50px 0 50px;
}

.header-nav{
    text-align: right;
>>>>>>> origin/master
}

.header-navi-link{
    color: #606560;
    margin-right: 30px;
    padding-left: 30px;
    border-left: 1px solid #606560;
}

.copyright{
    font-size: 12px;
    text-align: center;
}

<<<<<<< HEAD
=======
.pagination{
    text-align: center;
    margin: auto;
}

.pagination_block{
    font-size: 14px;
    padding: 8px;
    color: #606560;
    border: #606560 solid 0.5px;
}

.pagination_block_current{
    font-size: 14px;
    padding: 8px;
    color: #ffffff;
    border: #606560 solid 0.5px;
    background-color: #00b300;
}

/* fotter */
.footer{
    text-align: right;
    margin: 50px 50px 0 50px;
    height: 120px;
    border-top: 2px dotted white;
}

.footer-nav{
    padding-top: 5px;
    margin-right: 20px;
    font-size: 14px;
	}

.footer-nav-link{
  text-align: center;
  color:white;
}

>>>>>>> origin/master
/* tablet */
@media screen and (max-width: 850px){
body{
	background-image: url("../img/smp_backgroundimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position : center top;
    color: white;
    font-family: 'iroha';
}

a{
    text-decoration: none;
    color: grey;
}

.block-content{
    margin: auto;
    width: cover;
    overflow:hidden;
}

/*header */

.header .header-nav .header-navi-link{
    display: none;
}

.copyright{
    font-size: 12px;
    text-align: center;
}
<<<<<<< HEAD
=======

/* fotter */
.footer{
    text-align: center;
    margin: 50px 0 0 0;
    height: 120px;
    border-top: 2px dotted white;
}

.footer-nav{
    padding-top: 5px;
    margin-right: 20px;
    font-size: 14px;
	}

.footer-nav-link{
  text-align: center;
  color:white;
}
>>>>>>> origin/master
}

/* smp */
@media screen and (max-width: 600px){
body{
    background-image: url("../img/smp_backgroundimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position : center top;
    color: white;
    font-family: 'iroha';
}

a{
    text-decoration: none;
    color: grey;
}

.block-content{
    margin: auto;
    width: cover;
    overflow:hidden;
}

/*header */
.header .header-nav .header-navi-link{
    display: none;
}

.copyright{
    font-size: 12px;
    text-align: center;
}
<<<<<<< HEAD
=======
/* fotter */
.footer{
    text-align: center;
    margin: 50px 0 0 0;
    height: 120px;
    border-top: 2px dotted white;
}

.footer-nav{
    padding-top: 5px;
    margin-right: 20px;
    font-size: 14px;
	}

.footer-nav-link{
  text-align: center;
  color:white;
}
>>>>>>> origin/master
}