.detail-content{
    width: 60%;
    margin: 60px auto auto auto; 
}

a{
  text-decoration: none;
  color: aliceblue;
}

h2{
    font-size: 30px;
}

table{
  width: 100%;
  border-collapse: collapse;
}

table td{
    padding-left: 40px;
}

table tr{
  border-bottom: solid 2px white;
}

table tr:last-child{
  border-bottom: none;
}

table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #00b300;
  color: white;
  text-align: center;
  padding: 10px 0;
}