.navigarte{
    font-size: 16px;
    color: grey;
    margin: 20px 0 0 50px;
}

.container{
    margin: 40px 50px auto 50px;
}

.left-columns{
    float: left;
    height: 50px;
    width: 300px;
}

.center-columns{
    width: 800px;
    display: inline-block;
}

.right-columns{
    height: 50px;
    width: 250px;
    float: right;
}
/* combination search box */
.title-city{
    color: #606560;
    text-align: left;
    width: 100px;
    border-bottom: #606560 4px double;
}

.title-theme{
    color: #606560;
    text-align: left;
    width: 100px;
    border-bottom: #606560 4px double;
    position: relative; top: 40px;
}

/* select box */
.select-city{
  box-shadow:0 3px 5px rgba(0,0,0,.2);
  padding:15px;
  background:white;
  width:200px;
  position:relative; top: 20px;
}

.select-theme{
  box-shadow:0 3px 5px rgba(0,0,0,.2);
  padding:15px;
  background:white;
  width:200px;
  position:relative; top: 60px;
}


select{
  border:none;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
  font-size:16px;
  color:#909090;
  border-radius:0;
  width:250px;
  z-index:2;
  background:transparent;
}

label:after{
  content:"\25bc";
  font-size:16px;
  color:white;
  background:#00b300;
  width: 60px;
  text-align:center;
  line-height:3.2em;
  top:0;
  right:0;
  bottom:0;
  position:absolute;
  pointer-events:none;
}

option{
  border-bottom:1px solid #eaeaea;
  border-left:3px solid white;
  appearance:none;
}

option:hover{
  background-color:white;
  border-left:3px solid #f3a1a1;
}

/* button　*/
.button, .combination-button {
  border-radius: 5%;
  font-size: 14pt;
  text-align: center;
  cursor: pointer;
  padding: 12px 64px;
  background: #00b300;
  color: #ffffff;
  line-height: 1em;
  transition: .3s;
  box-shadow: 5px 5px 4px #666666;
  border: 2px solid #00b300;
  height: 50px;
  width: 280px;
}

.button:hover, .combination-button:hover {
  box-shadow: none;
  color: #00b300;
  background: #ffffff;
}

.combination-button{
  height: 50px;
  width: 290px;
  position: relative; top: 110px;
}

/* freeword-search */
.title-freeword{
    color: #606560;
    text-align: left;
    width: 200px;
    border-bottom: #606560 4px double;
    position: relative; top: 40px;
}

.freeword-search{
  text-align: center;
  margin-top: 100px;
}

.input-text{
  position: relative; top:0; left:-20px;
  margin: 50px 0 0 30px;
  height: 50px;
  width: 275px;
  border: none;
}

.freeword-input{
  position: relative; top:30px;
  border-radius: 5%;
  font-size: 14pt;
  text-align: center;
  cursor: pointer;
  padding: 12px 64px;
  background: #00b300;
  color: #ffffff;
  line-height: 1em;
  transition: .3s;
  box-shadow: 5px 5px 4px #666666;
  border: 2px solid #00b300;
  width: 280px;
  height: 50px;
}

.freeword-input:hover {
  box-shadow: none;
  color: #00b300;
  background: #ffffff;
}

/* object_list */
.object-list{
    background-color:rgba(255, 255, 255, 0.5);
    margin: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 10px;
    color: #606560;
}

.object-title{
    font-size: 24px;
}

.object-tag{
    padding: 10px;
    background-color: #00b300;
    color: #ffffff;
    font-size: 12px;
    border-radius: 40px;
    width: 100px;
    text-align: center;
}

.object-item{
    font-size: 14px;
}

.detail-link{
    border: #606560 1px solid;
    padding: 10px;
}

.detail-link:hover{
    background-color: #00b300;
    color: #ffffff;
}

/* smp */
@media screen and (max-width: 600px){
.navigarte{
    font-size: 16px;
    color: grey;
    margin: 20px 0 15px 5px;
}

.container{
  margin: auto;
}

.left-columns, .right-columns{
  display: none;
}

.center-columns{
  width: 350px;
}

.object-list{
  padding: 5px;
  margin: 10px auto;
}

}
