
.top-logo{
  text-align: center;
  margin: 40px auto;
	}

.header-message{
  font-size:20px;
  text-align: center;
  margin: 80px auto auto 100px;
  }

/* combination-search */
.combination-search-block{
  text-align: center;
  height: 280px;
  width: 1400px;
  background-color:rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  margin-top: 80px;
}

.combination-title{
  text-align: center;
  padding: 45px 0;
  color: #606560;
  font-size: 30px;

}

.x{
  display: inline;
  font-size: 40px;
  font-weight: bold;
  color: #606560;
  position: relative; top: 10px; left:25px;
}

/* select box */
label{
  box-shadow:0 3px 5px rgba(0,0,0,.2);
  padding:15px;
  background:white;
  width:340px;
  display:inline-block;
  position:relative;
  margin-left:50px;
}

select{
  border:none;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
  font-size:16px;
  color:#909090;
  border-radius:0;
  width:400px;
  z-index:2;
  background:transparent;
}

label:after{
  content:"\25bc";
  font-size:16px;
  color:white;
  background:#00b300;
  width:80px;
  text-align:center;
  line-height:3.2em;
  top:0;
  right:0;
  bottom:0;
  position:absolute;
  pointer-events:none;
}

option{
  border-bottom:1px solid #eaeaea;
  border-left:3px solid white;
  appearance:none;
}

option:hover{
  background-color:white;
  border-left:3px solid #f3a1a1;
}

/* buttonã€€*/
.button, .combination-button {
  border-radius: 5%;
  font-size: 13pt;
  text-align: center;
  cursor: pointer;
  padding: 12px 64px;
  background: #00b300;
  color: #ffffff;
  line-height: 1em;
  transition: .3s;
  box-shadow: 5px 5px 4px #666666;
  border: 2px solid #00b300;
}

.button, .combination-button:hover {
  box-shadow: none;
  color: #00b300;
  background: #ffffff;
}

.combination-button{
  height: 50px;
  position: relative; left:50px;
}

/* about service */
.about{
  text-align: center;
  font-size: 30px;
  margin: 50px auto;
}

.about-title{
  font-size: 40px;
}

/* questionnaire */
.questionnaire{
  height: 420px;
  background-color:rgba(255, 255, 255, 0.5);
}

/* service-message */
.service-message{
  text-align: center;
  font-size: 30px;
  margin: 50px auto;
}

/* category-search */
.category-search{
  text-align: center;
  height: 1150px;
  width: 1400px;
  background-color:rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  margin-top: 80px;
  padding-top: 40px;
  padding-bottom: 80px;

}

/* area-search */
.area-search-title{
  font-size: 34px;
  color: #606560;
}

.area-search{
  margin-top:40px auto;
}

.area-search-none{
  text-align: left; 
  margin: 14px;
}


.area-link-box{
  display: inline-flex;
  width: 200px;
  height: 60px;
  box-shadow: 5px 5px 2px #666666;
  border-radius: 20px;
  border: 1px solid;
  background-color: white;
  color: grey;
  margin: 12.2px;
}

.area-link-box:hover{
  background-color: #00b300;
  transition-delay:0.2s;
  color: #ffffff;
}

.area-link{
  width: 200px;
  height: 60px;
  text-align: center;
  padding-top: 20px;
}

/* theme-search */
.theme-search-title{
  font-size: 34px;
  color: #606560;
}

.theme-search{
  margin-top:40px;
}

.theme-box{
  display: inline-flex;
  width: 470px;
  height: 60px;
  box-shadow: 5px 5px 2px #666666;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid;
  background-color: white;
  color:grey;
  margin: 0 50px;
}

.theme-box:hover{
  background-color: #00b300;
  transition-delay:0.2s;
  color: #ffffff;
}

.theme-link{
  font-size: 30px;
  width: 200px;
  height: 60px;
  text-align: center;
  padding-top: 10px;
  padding-left: 70px;
}

/* freeword-search */
.freeword-search-title{
  font-size: 34px;
  color: #606560;
}

.freeword-search{
  text-align: center;
  margin-top: 100px;
}

.input-text{
  position: relative; top:0; left:-20px;
  margin-top: 20px;
  height: 70px;
  width: 700px;
  border: none;
}

.freeword-input{
  position: relative; top:0px; left:20px;
  border-radius: 5%;
  font-size: 24pt;
  text-align: center;
  cursor: pointer;
  padding: 12px 64px;
  background: #00b300;
  color: #ffffff;
  line-height: 1em;
  transition: .3s;
  box-shadow: 5px 5px 4px #666666;
  border: 2px solid #00b300;
}

.freeword-input:hover {
  box-shadow: none;
  color: #00b300;
  background: #ffffff;
}

/* internal-link */
.internal-link{
 	text-decoration: none;
  color: #ffffff;
  font-size: 24px;
}

/* sns-field */
.sns-field{
  text-align: center;
  margin-top: 120px;
}

.sns-link{
 	text-decoration: none;
  color: #ffffff;
  font-size: 24px;
}


/* fotter */
.footer{
    text-align: right;
    margin: 50px 0 0 0;
    height: 120px;
    border-top: 2px dotted white;
}

.footer-nav{
    padding-top: 5px;
    margin-right: 20px;
    font-size: 14px;
	}

.footer-nav-link{
  text-align: center;
  color:white;
}