.navigarte{
    font-size: 14px;
    color: grey;
    margin: 20px 0 0 50px;
}

.container{
    border: black solid 1px;
    margin: 40px 50px auto 50px;
    text-align: center;
}

.left-columns{
    height: 50px;
    width: 300px;
    display: inline-block;
    border: black solid 1px;
}

.center-columns{
    height: 1500px;
    width: 800px;
    display: inline-block;
    border: black solid 1px;
}

.right-columns{
    height: 50px;
    width: 200px;
    display: inline-block;
    border: black solid 1px;
}
