.title{
    margin-top: 60px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.terms-content{
    width: 80%;
    margin: auto;
    font-size: 16px;
}

.terms-update-date{
    text-align: right;
}