<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>結婚|東京都23区の支援金</title>
	<meta name="description" content="説明文">
	<link rel="canonical" href="正規化URL">
<!-- SNS -->
	<meta property="og:url" content="ページのURL">
	<meta property="og:title" content="ページのタイトル">
	<meta property="og:type" content="ページのタイプ">
	<meta property="og:description" content="記事の抜粋">
	<meta property="og:image" content="画像のURL">
	<meta name="twitter:card" content="カード種類">
	<meta name="twitter:site" content="@Twitterユーザー名">
	<meta property="og:site_name" content="サイト名">
	<meta property="og:locale" content="ja_JP">
	<meta property="fb:app_id" content="appIDを入力">
<!-- favicon -->
	<link rel="icon" href="URL" sizes="16x16" type="image/png">
<!-- icon -->
	<link rel="apple-touch-icon-precomposed" href="画像のURL">
<!-- static -->
<link rel="stylesheet" type='text/css' href="{% static 'subsidy/css/index.css' %}">

<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169304107-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-169304107-1');
	</script>
</head>

<body>
	{% for object in object_list %}
	<p>{{ object.name }}</p>
	{% for theme in object.themes.all %}
	<p>{{theme.theme}}</p>
	{% endfor %}
	{% for pref in object.prefectures.all %}
	<p>{{pref.prefecture}}</p>
	{% endfor %}
	{% for city in object.cities.all %}
	<p>{{city.city}}</p>
	{% endfor %}
	<li><a href="{% url 'subsidy:detail' object.pk %}">詳細を見る</a></li>
	=================
  	{% endfor %}
</body>
</html>